   <div class="content">
            <div class="container-xl">
                <div class="chapter">
                   <div class="title-block">
                        <button class="btn-header-toggle">
                            <span class="header-up"><i class="fas fa-chevron-up"></i></span>
                            <span class="header-down d-none"><i class="fas fa-chevron-down"></i></span>
                        </button>

                        <div class="chapter-part row justify-content-center">
                            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6 ">
                                <div class="chapter-item Nov-Title">
                                    <h1><a href="#" class="novel-title" title="Đấu Phá Thương Khung">ĐẤU PHÁ THƯƠNG KHUNG</a></h1>
                                </div>

                                <div class="chapter-item Chap-Title">
                                    <h3>
                                        <a href="#" class="chapter-title" title="Đấu Phá Thương Khung - Chương 1641:
                                        Kết thúc cũng là nơi bắt đầu! (Hết)">
                                        Chương 1641: Kết thúc cũng là nơi bắt đầu! (Hết)</a>
                                    </h3>
                                </div>
                                    
                                <div class="chapter-item chapter-start">
                                    <img src="/img/chapter-start.png" alt="#">
                                </div>
                                
                                <div class="chapter-item chapter-nav">
                                    <a href="#" class="btn-chapter-nav"> 
                                        <i class="fas fa-chevron-left"></i> <span class="word">Chương</span> trước
                                    </a>
                                    <button class="btn-chapter-nav chapter-jump "><i class="fas fa-list-ul"></i></button>
                                    <select name="" id="" class="btn-chapter-nav chapter-select d-none" > 
                                        <option value="chapter1633">Chương 1633</option>
                                        <option value="chapter1634">Chương 1634</option>
                                        <option value="chapter1635">Chương 1635</option>
                                        <option value="chapter1637">Chương 1637</option>
                                        <option value="chapter1638">Chương 1638</option>
                                        <option value="chapter1649">Chương 1639</option>
                                        <option value="chapter1640">Chương 1640</option>
                                    </select>
                                    <a href="#" class="btn-chapter-nav">
                                        <span class="word">Chương</span> sau <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <button class="btn-header-bookmark" title="Đánh dấu">
                            <span class="mark-up"><i class="far fa-bookmark"></i></span>
                            <span class="mark-down d-none"><i class="fas fa-check"></i></span>
                        </button>
                      
                   </div>

                   <div class="chapter-part row">
                        <div class="chapter-content-part">
                            <img src="/img/chapter-end.png" alt="#">
                        </div>
                        <p class="chapter-content-part chapter-content">
                            
                        </p>
                        <div class="chapter-content-part">
                            <img src="/img/chapter-end.png" alt="#">
                        </div>
                           
                   </div>

                   <div class="chapter-part row justify-content-center">
                    <div class="col-xs-10 col-sm-9 col-md-8 col-lg-6">
                        <div class="chapter-item chapter-nav">
                            <a href="#" class="btn-chapter-nav"> 
                                <i class="fas fa-chevron-left"></i> <span class="word">Chương</span> trước
                            </a>
                            <button class="btn-chapter-nav chapter-jump "><i class="fas fa-list-ul"></i></button>
                            <select name="" id="" class="btn-chapter-nav chapter-select d-none" > 
                                <option value="chapter1633">Chương 1633</option>
                                <option value="chapter1634">Chương 1634</option>
                                <option value="chapter1635">Chương 1635</option>
                                <option value="chapter1637">Chương 1637</option>
                                <option value="chapter1638">Chương 1638</option>
                                <option value="chapter1649">Chương 1639</option>
                                <option value="chapter1640">Chương 1640</option>
                            </select>
                            <a href="#" class="btn-chapter-nav">
                                <span class="word">Chương</span> sau <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <div class="chapter-item">
                            <a href="#" class="chapter-error">
                                <i class="fas fa-flag"></i>  Báo lỗi chương
                            </a>
                            <a href="http://localhost:3000/novel/{{novelId}}#comment-section"class="chapter-comment">
                                <i class="fas fa-comments"></i> Bình luận 
                            </a>
                        </div>
                    </div>
                    </div>
                </div>

              
            </div>
    </div>

    <div class="modal d-none">
        <div class="modal-container ">
            <header class="modal-header">
                <i class="fas fa-bell"></i>
                Báo lỗi chương
            </header>

            <div class="modal-close d-none d-md-block"> 
                <i class="fas fa-times"></i>
            </div>

            <div class="modal-body">
            <!-- <form action=""> -->
                    <div class="mb-3">
                        <label for="modal-email" class="form-label"><i class="fas fa-user-alt"></i> Địa chỉ email để liên lạc với bạn </label>
                        <input type="email" class="form-control" id="modal-email" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="modal-error" class="form-label">
                            <i class="fas fa-exclamation"></i><i class="fas fa-exclamation"></i><i class="fas fa-exclamation"></i>
                            Lỗi mà bạn phát hiện </label>
                        <textarea class="form-control" id="modal-error" rows="5" style="resize: none"></textarea>
                    </div>

                    <button id="send" type="submit">
                        Send <i class="fas fa-check"></i>
                    </button>
            <!-- </form>      -->
            </div>
        </div>
    </div>