.main {
    width: 100%;
    background-color: var(--light-background-color);
}
/* Header */
#header {
    color: var(--white-color);
    background-color: var(--header-light-color);
    font-size:1.2rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.searchbar {
    height: 6rem;
    display:flex;
    align-items: center;
    margin-left:  -2rem;
}

.searchbar-item {
    display: inline-block;
    padding: 0 1.6rem;
    margin: .2rem;
}
.searchbar-item a {
    color: var(--white-color);
    text-decoration: none;
}

.logo {
    text-decoration: none;
    color: var(--white-color);
    font-weight:700;
}
.logo h1 {
    font-size: 4rem;
}

.search-novel{
    flex:1;
    align-items: center;
    background-color: var(--light-background-color);
    height:4rem;
    border-radius: 6px;
    display: block;
    position: relative;
    text-align: left;
}

.search-input {
    flex: 1;
    height:100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
}

.search-select-btn {
    position: absolute;
    right: .8rem;
    top: 0;
    font-size: 1.8rem;
    color: var(--header-light-color);
    padding: 0 .4rem;
    margin-top: .7rem;
}

.search-select-btn:hover {
    cursor: pointer;
    color: var(--orange-color)
}

.search-novel .search-menu {
    position: absolute;
    top: 4.4rem;
    left: 0;
    background-color: #e5e5e5;
    border: #989898;
    padding: 0 1.6rem;
    list-style: none;
    width: 100%;
    border-radius: .8rem;
    text-align: left;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15), 0 8px 16px rgba(0, 0, 0, .15);
}
  
.search-novel .search-menu li {
    background-color: #fff;
    padding: .4rem .8rem;
    margin: .6rem 0;
    border-radius: .8rem;
    margin-right: 3rem;
}
  
.search-novel .search-menu li a {
    color: rgba(105, 102, 102, 0.972);
    font-size: 1.4rem;
}

.search-novel .search-menu li:hover > a {
    color: var(--orange-color);
    /* font-size: 1.6rem; */
    font-style: italic;
}



.searchbar-btn {
    margin-top:.2rem;
    padding: 1.8rem 1.2rem;
    border-radius: .8rem;
    display: inline-block;
    text-align: center;
    font-weight: 700;
}

.searchbar-btn a:hover {
   opacity: .7;
}

.searchbar-btn a i {
    font-size: 2.8rem;
    display:inline-block;
}

.searchbar-item .notification-btn {
    position: relative;
    text-align: left;
}

.searchbar-item .notification-btn .notification-badge {
    font-size: 1.2rem;
    position: absolute;
    top: 1.2rem;
    left: 3.2rem;
    padding: 0rem .5rem;
    border-radius: 50%;
    background-color: red;
}
  
.notification-btn .notification-menu {
    min-height: 25rem;
    position: absolute;
    top: 4.4rem;
    right: -8rem;
    background-color: #e5e5e5;
    border: #989898;
    padding: 1rem 2rem;
    list-style: none;
    width: 32rem;
    border-radius: .8rem;
    text-align: left;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15), 0 8px 16px rgba(0, 0, 0, .15);
}
  
.notification-btn .notification-menu li {
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #fff;
    color: rgba(105, 102, 102, 0.972);
    padding: .8rem;
    margin-bottom: 10px;
    border-radius: .8rem;
}
  
.notification-btn .notification-menu p {
    margin-bottom: 0;
    font-size: 1.4rem;
}

.text-ellipsis--3{
    text-overflow:ellipsis;
    overflow:hidden;
    /* Addition lines for 3 line or multiline ellipsis */
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.user {
    display: inline-block;
    position: relative;
    padding-right: 3.6rem;
}
.user:hover > a {
    opacity: .8
}
.user-name {
    position: absolute;
    padding: .1rem;
    font-size: 2rem;
    font-weight:400;
    bottom: 0;
    left: 3rem;
    opacity: 0.9;
}

.mobile-menu-btn {
    font-size: 2.4rem;
}



.navbar {
    height:5rem;
    display:flex;
    align-items: center;
    margin-left:  -2rem;
    margin-right: -2rem;
    margin-bottom: 0;
}

.navbar-items {
    display: inline-block;
    padding: 0 1.4rem;
    margin: .2rem .4rem;
}

.item-link {
    text-decoration: none;
    color: var(--white-color);
    display:block;
    line-height:4rem;
    font-size: 1.2rem;
}

.navbar-items:hover  {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-icon {
    font-size: 1.2rem;
    padding: .2rem;
    margin: .2rem;
}

.navbar-arrow-down {
    font-size: 1.2rem;
    transform: translateY(-25%);
}


.droplist{
    display: none;
    z-index: 10;
}
    .droplist a{
        display: block;
        padding: 0.8rem 1.2rem;
        text-decoration: none;
        color: white;
    }

    .droplist a:hover{
        color: var(--orange-color);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .droplist li{
        display: block;
        padding: 0.6rem 1.2rem;
        text-decoration: none;
        color: var(--header-light-color);
        font-size: 1.6rem;
    }

    .droplist li:hover{
        color: var(--orange-color);
        background-color: rgba(235, 227, 227, 0.883);
        border-radius: 8px;
    }

.droplist-fluid-container{
    position: absolute;
    left: 0;
    width: 100%;
}

.droplist-fluid {
    background-color: var(--header-light-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 20rem;
    width: 80rem;
    margin: auto;
    box-shadow: 0 6px 12px rgb(0,0,0,0.2);
    border-radius: 6px;
    font-size: 1.2rem;
}
            
.droplist-normal{
    background-color: var(--header-light-color);
    position: absolute;
    width: 16rem;
    border-radius: 6px;
    margin-left:-1.3rem;
}

.droplist-signout{
    background-color: white;
    position: absolute;
    width: 16rem;
    border-radius: 8px;
    margin-left:-7rem;
    top: 5.4rem;
}

.dropdown:hover .droplist{
    display: block;
}

.color-select{
    width: 23rem;
}
.color-select a{
    display: inline-block;
    width: 49%;
}

.btn-logout {
    width: 100%;
    font-weight:500; 
    font-size:1.6rem;
}
.btn-logout:hover {
    color: var(--orange-color);
}

/* content */
.content {
   padding-top: 30rem;
}

.page {
    background-color: rgba(238, 243, 247, 0.96);
    position: relative;
    min-height: 84rem;
    border-radius: 2rem;
}

.page-content {
    padding: .8rem;
    width: 100%;
}

.section {
    font-size: 1.6rem;
    color: #333;
    margin-left: .6rem;
    margin-right: 2rem;
}

.section-title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: .6rem;
    font-size: 2.8rem;
    border-bottom: 1px solid #e6e6e6;
}

.classification {
    margin: 1rem 0;
}
.classification-title {
    margin:  .4rem 1rem ;
    font-weight: 500;
    font-size: 1.6rem;
}
.classification-list {
    padding: .6rem .2rem;
    display: flex;
    flex-wrap: wrap;
}
.classification-list li {
    margin: .4rem .4rem;
}
.classification-list li a{
    padding: .4rem .7rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    border-radius: .4rem;
}
.classification-list li a:hover {
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
}
.classification-list .active a {
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
}


.top-novels {
    font-size: 1.4rem;
    color: #333;
}
.top-novels .latest-chapter {
    padding: .4rem .8rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid #0d6efd;
    color: #0d6efd;
}
.top-novels .latest-chapter:hover {
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
}
.text-ellipsis--2{
    text-overflow:ellipsis;
    overflow:hidden;
    /* Addition lines for 2 line or multiline ellipsis */
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}



/* Pagination */
.page-link {
    background-color: rgba(238, 243, 247, 0.96);
    color: #333 ;
    border: none ;
    padding: .4rem 1rem;
    margin: 0 1rem;
}



















/* footer */
#footer {
    margin-top: 4rem;
    padding: 3.2rem 1.6rem;
    text-align: center;
    background-color:  var(--header-light-color);
    color: white;
}

#footer .social-list a {
    font-size: 2.4rem;
    color: rgba(0,0,0,0.6);
    color: white;
}

#footer .social-list a:hover {
    font-size: 2.4rem;
    color: rgba(0,0,0,0.4)
}

#footer .copy-right{
   margin-top: .8rem;
   color: rgba(0,0,0,0.6);
   color: white;
   font-size: 1.4rem;
}

#footer .copy-right a {
    padding: 0 .4rem;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.6);
    text-decoration: underline;
    color: white;
}