<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Section - Genres Manage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    {{#each css}}
       <link rel="stylesheet" href="/css/admin/{{this}}.css">
    {{/each}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body>
    <div class="sidenav">
        <div class="px-4 pb-4">
            <a class="logo" href="/web-novel/Homepage/index.html">                
                <h1>Simple<span style="color: #f18121;">PoLL</span></h1>
            </a>
        </div>
        <button class="dropdown-btn">Manage
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="https://app-webnovel.herokuapp.com/admin/novel">Novels</a>
            <a href="https://app-webnovel.herokuapp.com/admin/user">Users</a>
            <a href="https://app-webnovel.herokuapp.com/admin/genre">Genres</a>
        </div>
    </div>
   
    <div class="admin-wrapper">
        <video autoplay muted loop id="myVideo">
            <source src="/video/Loop.mp4" type="video/mp4">
        </video>    
        <header>
            <div class="navbar">
                <div class="searchbar-btn">
                    <a href="#">   
                        <i class="fas fa-user-circle"></i>
                        <div class="user">
                            <span class="user-name">Admin123</span>
                        </div>
                    </a>
                </div>
            </div>
        </header>

        {{{body}}}
       
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Ckeditor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/12.2.0/classic/ckeditor.js"></script>

    {{#each js}}
       <script type="text/javascript" src="/js/admin/{{this}}.js"></script>
    {{/each}}

</body>