<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Registration</title>
    <link rel="stylesheet" href="/css/authen/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a class="logo" href="/">                
                <h1>Simple<span style="color: #f18121;">PoLL</span></h1>
            </a>
        </div>

        {{{body}}}
        
        <footer class="footer">
            <span class="text-muted" style="font-size: 11px;">© 2021 Simple Poll.</span>
        </footer>
    </div>

    <script src="/js/authen/Changing.js"></script>
    <script src="/js/authen/TogglePassword.js"></script>
    <script src="/js/authen/SRP.js"></script>

</body>

</html>