<div class="content">
            <div class="container-xl">
                <div class="section col-xs-12" id="hot-novels">
                    <div class="section__title">
                       <div class="title">
                            <h2><a href="#hot-novels" title="Truyện hot">Truyện Hot <i class="fab fa-gripfire"></i></a></h2>
                       </div>
                       <!-- <select id="hot-select" class="form-select select-type" aria-label="Chọn thể loại">
                            <option value="all">Tất cả</option>
                            <option value="1">Tiên Hiệp</option>
                            <option value="2">Kiếm Hiệp</option>
                            <option value="3">Ngôn Tình</option>
                            <option value="4">Đam Mỹ</option>
                            <option value="5">Quan Trường</option>
                            <option value="6">Võng Du</option>
                            <option value="7">Khoa Huyễn</option>
                            <option value="8">Hệ thống</option>
                            <option value="9">Huyền Huyễn</option>
                            <option value="10">Dị Giới</option>
                            <option value="11">Dị Năng</option>
                            <option value="12">Quân Sự</option>
                            <option value="13">Lịch SỬ</option>
                            <option value="14">Xuyên Không</option>
                            <option value="15">Xuyên Nhanh</option>
                            <option value="16">Trọng SInh</option>
                            <option value="17">Trinh thám</option>
                            <option value="18">Thám hiểm</option>
                            <option value="19">Sắc</option>
                            <option value="20">Ngược</option>
                            <option value="21">Sủng</option>
                            <option value="22">Cung Đấu</option>
                            <option value="23">Nữ Cường</option>
                            <option value="24">Gia Đấu</option>
                            <option value="25">Đông Phương</option>
                            <option value="26">Đô Thị </option>
                            <option value="27">Bách Hợp </option>
                            <option value="28">Hài Hước</option>
                            <option value="29">Điền Văn</option>
                            <option value="30">Cổ Đại</option>
                            <option value="31">Mạt Thế</option>
                            <option value="32">Truyện Teen</option>
                            <option value="33">Phương Tây</option>
                            <option value="34">Nữ Phụ</option>
                            <option value="35">Light Novel</option>
                            <option value="36">Việt Nam</option>
                            <option value="37">Đoản Văn</option>
                            <option value="38">Khác</option>
                       </select> -->
                    </div>
                    <div class="section__list hot-novels row">
                        {{!-- <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <span class="item__fulllabel"></span>
                                <img src="./asset/img/truyen-than-khong-thien-ha.jpg" alt="Thần khống thiên ha" title="Thần khống thiên hạ" class="item__img">
                                <div class="item__title">
                                    <h3 class = "novel-title" itemprop="name" title="Thần khống thiên hạ">Thần Khống Thiên Hạ</h3>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <span class="item__fulllabel"></span>
                                <img src="./asset/img/truyen-than-khong-thien-ha.jpg" alt="Thần khống thiên ha" title="Thần khống thiên hạ" class="item__img">
                                 <div class="item__title">
                                    <h3 class = "novel-title" itemprop="name" title="Thần khống thiên hạ">Thần Khống Thiên Hạ</h3>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <span class="item__fulllabel"></span>
                                <img src="./asset/img/truyen-than-khong-thien-ha.jpg" alt="Thần khống thiên ha" title="Thần khống thiên hạ" class="item__img">
                                <div class="item__title">
                                    <h3 class = "novel-title" itemprop="name" title="Thần khống thiên hạ">Thần Khống Thiên Hạ</h3>
                                </div>
                            </a>
                        </div> --}}
                    </div>
                </div>


                <!-- <div class="section col-xs-12">
                    <div class="section__title">
                       <div class="title">
                            <h2><a href="#" title="Truyện mới cập nhật">Truyện Mới Cập Nhật <i class="fas fa-angle-right"></i></a></h2>
                       </div>
                    </div>
                    <div class="section__list novel-list">
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-new">New</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-hot">Hot</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-full">Full</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                             
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-new">New</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-hot">Hot</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-new">New</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                               
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                              
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-full">Full</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                               
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-new">New</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-full">Full</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                              
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                        <div class="row">
                            <div class="list-col col-xs-9 col-sm-6 col-md-6 col-title d-flex">
                                <i class="fas fa-angle-right"></i>
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc">Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc</a>
                                <span class="lable-title lable-hot">Hot</span>
                            </div>
                            <div class="list-col hidden-xs col-sm-3 col-md-2 col-category">
                                <a href="#" title="Tiên Hiệp">Tiên Hiệp</a>
                            </div>
                            <div class="list-col col-xs-3 col-sm-3 col-md-2 col-chap">
                                <a href="#" title="Hệ Thống Xuyên Nhanh: Vai Ác Đại Lão Không Dễ Chọc - Chương 146">
                                    Chương 146
                                </a>
                            </div>
                            <div class="list-col hidden-xs hidden-sm col-md-2 col-time">Vài giây trước</div>
                        </div>
                    </div>
                </div> -->


                <div class="section col-xs-12" id="full-novels">
                    <div class="section__title">
                       <div class="title">
                            <h2><a href="#full-novels" title="Truyện đã hoàn thành">Truyện Đã Hoàn Thành <i class="fas fa-angle-right"></i></a></h2>
                       </div>
                    </div>
                     <div class="section__list row">
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/cong-luoc-trai-tim-215x322.jpg" alt="Công Lược Trái Tim" title="Công Lược Trái Tim" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Công Lược Trái Tim">Công Lược Trái Tim</h3>
                                    <small class="fullepisode">Full - 250 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/anchoi-215x322.jpg" alt="Gả Ăn Chơi Trác Táng " title="Gả Ăn Chơi Trác Táng " class="item__img">
                                 <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Gả Ăn Chơi Trác Táng ">Gả Ăn Chơi Trác Táng</h3>
                                    <small class="fullepisode">Full - 165 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/bacsyhuhong-215x322.jpg" alt="Này Bác Sĩ Hư Hỏng Em Yêu Anh" title="Này Bác Sĩ Hư Hỏng Em Yêu Anh" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Này Bác Sĩ Hư Hỏng Em Yêu Anh">Này Bác Sĩ Hư Hỏng Em Yêu Anh</h3>
                                    <small class="fullepisode">Full - 521 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/tuong-thanh-qua-phu-khi-con-tre.jpg" alt="Tưởng Thành Quả Phụ Khi Còn Trẻ" title="Tưởng Thành Quả Phụ Khi Còn Trẻ" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Tưởng Thành Quả Phụ Khi Còn Trẻ">Tưởng Thành Quả Phụ Khi Còn Trẻ</h3>
                                    <small class="fullepisode">Full - 103 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/nam-chu-benh-kieu-sung-len-troi.jpg" alt="Nam Chủ Bệnh Kiều Sủng Lên Trời" title="Nam Chủ Bệnh Kiều, Sủng Lên Trời" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Nam Chủ Bệnh Kiều, Sủng Lên Trời">Nam Chủ Bệnh Kiều Sủng Lên Trời</h3>
                                    <small class="fullepisode">Full - 2128 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/de-nhat-my-nhan-thanh-truong-an.jpg" alt="Đệ Nhất Mỹ Nhân Thành Trường An" title="Đệ Nhất Mỹ Nhân Thành Trường An" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Đệ Nhất Mỹ Nhân Thành Trường An">Đệ Nhất Mỹ Nhân Thành Trường An</h3>
                                    <small class="fullepisode">Full - 137 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/Untitled-1-4-215x322.jpg" alt="Người Vợ Thứ 7 Của Tổng Tài Ác Ma" title="Người Vợ Thứ 7 Của Tổng Tài Ác Ma" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Người Vợ Thứ 7 Của Tổng Tài Ác Ma">Người Vợ Thứ 7 Của Tổng Tài Ác Ma</h3>
                                    <small class="fullepisode">Full - 550 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/chong-doc-tai-cu-cuong-hon-toi.jpg" alt="Chồng Độc Tài Cứ Cưỡng Hôn Tôi" title="Chồng Độc Tài Cứ Cưỡng Hôn Tôi" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Chồng Độc Tài Cứ Cưỡng Hôn Tôi">Chồng Độc Tài Cứ Cưỡng Hôn Tôi</h3>
                                    <small class="fullepisode">Full - 902 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/vu-su-649010.jpg" alt="Vu Sư" title="Vu Sư" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Vu Sư">Vu Sư</h3>
                                    <small class="fullepisode">Full - 156 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/duoi-vay-than-691341.jpg" alt="Dưới Váy Thần" title="Dưới Váy Thần" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Dưới Váy Thần">"Dưới Váy Thần</h3>
                                    <small class="fullepisode">Full - 92 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/ha-canh-tren-trai-tim-anh.jpg" alt="Hạ Cánh Trên Trái Tim Anh" title="Hạ Cánh Trên Trái Tim Anh" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Hạ Cánh Trên Trái Tim Anh">Hạ Cánh Trên Trái Tim Anh</h3>
                                    <small class="fullepisode">Full - 87 chương</small>
                                </div>
                            </a>
                        </div>
                        <div class="item col-lg-2 col-sm-3 col-4">
                            <a href="#" class="">
                                <img src="/img/dau-nha-nong.jpg" alt="Dâu Nhà Nông" title="Dâu Nhà Nông" class="item__img">
                                <div class="item__title">
                                    <h3 class="novel-title" itemprop="name" title="Dâu Nhà Nông">Dâu Nhà Nông</h3>
                                    <small class="fullepisode">Full - 107 chương</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


               
            </div>
        </div>