.mobile-navbar {
    padding-top: 1.2rem;
    padding-bottom: 2rem;
}
.mobile-navbar-items {
    color: #ffffff;
    padding-bottom: 1.2rem;
}
.mobile-navbar-icon {
    font-size: 1.5rem;
}
.mobile-item-link {
    color: white;
    font-size: 1.8rem;
}
.mobile-droplist {
    display: block;
}
.mobile-droplist li a {
    color: white;
    font-size: 1.6rem;
}
.mobile-droplist li:hover a {
    color: var(--orange-color);
}


@media (min-width: 19.75em) and (max-width: 29.9375em) {
    .searchbar {
        margin-left:0;
        margin-right: 0;
        border-bottom: 1px solid #fff;
        height:6rem;
    }
    .logo h1 {
        font-size: 3.6rem;
    }
    .searchbar-item {
        padding: .2rem 0;
        margin: 0;
        line-height:6rem;
    }
    .mobile-navbar-btn {
        line-height: 6rem;
    }
    .item__img {
        max-width: 7.6rem;
        max-height: 12rem;
    }
    .select-type {
        width: 12rem;
    }
    .account {
        display: flex;
        justify-content: space-between;
    }
    .sign-up {
        margin-right: .4rem;
    }
    .searchbar-btn {
        flex:1;
        line-height:3.6rem;
    }
    .searchbar-btn a {
        font-size: 1.8rem;
    }
    .search {
        padding: .4rem;
        height: 3.2rem;
    }
}

@media (min-width: 30em) and (max-width: 35.9375em) {
    .searchbar {
        margin-left:0;
        margin-right: 0;
        border-bottom: 1px solid #fff;
        height:6rem;
    }
    .logo h1 {
        font-size: 4rem;
    }
    .searchbar-item {
        padding: .2rem 0;
        margin: 0;
        line-height:6rem;
    }
    .mobile-navbar-btn {
        line-height: 6rem;
    }
    .item__img {
        max-width: 12.8rem;
        max-height: 19.2rem;
    }
    .account {
        display: flex;
        justify-content: space-between;
    }
    .sign-up {
        margin-right: .4rem;
    }
    .searchbar-btn {
        flex:1;
        line-height:3.6rem;
    }
    .searchbar-btn a {
        font-size: 1.8rem;
    }
    .search {
        padding: .4rem;
        height: 3.2rem;
    }
}


@media (min-width: 36em)  and (max-width:47.9375em) { 
    .searchbar {
        margin-left:0;
        margin-right: 0;
        border-bottom: 1px solid #fff;
        height:6rem;
    }
    .logo h1 {
        font-size: 3.6rem;
    }
    .searchbar-item {
        padding: .2rem 0;
        margin: 0;
        line-height:6rem;
    }
    .mobile-navbar-btn {
        line-height: 6rem;
    }
    .item__img {
        max-width: 11.4rem;
        max-height: 18rem;
    }
    .searchbar-btn {
        line-height:3.6rem;
        width: 13.6rem;
    }
    .searchbar-btn a {
        font-size: 1.8rem;
    }
    .search {
        padding: .4rem;
        height: 3.2rem;
    }
 }


/* Tablet */
@media (min-width: 48em) and (max-width:61.9375em) { 
    .searchbar {
        margin-left:0;
        margin-right: 0;
        border-bottom: 1px solid #fff;
        height:6rem;
    }
    .logo h1 {
        font-size: 3.6rem;
    }
    .searchbar-item {
        padding: .2rem 0;
        margin: 0;
        line-height:6rem;
    }
    .mobile-navbar-btn {
        line-height: 6rem;
    }
        
    .item__img {
        max-width: 16.8rem;
        max-height: 24.5rem;
    }
    .searchbar-btn {
        line-height:3.6rem;
        width: 13.6rem;
    }
    .searchbar-btn a {
        font-size: 1.8rem;
    }
    .search {
        padding: .4rem;
        height: 3.2rem;
    }
}


@media (min-width: 62em) {
    .item__img {
        max-width: 16.4rem;
        max-height: 24.5rem;
    }
}
