  <div class="content">
            <div class="container-xl page">
                <div class="page-content">
                    <div class="row">
                        <div class="col-3">
                            <div class="section">
                                <div class="section-title">
                                    <span>Đã chọn</span>
                                </div>
                                <div class="section-content">
                                    <div class="classification border-bottom">
                                        <div class="classification-title">
                                            <span>Thể Loại</span>
                                        </div>
                                        <ul class="classification-list">
                                            <li class="active"><a href="#">Tiên Hiệp</a></li>
                                            <li><a href="#">Kiếm Hiệp</a></li>
                                            <li><a href="#">Ngôn Tình</a></li>
                                            <li><a href="#">Đam Mỹ</a></li>
                                            <li><a href="#">Quan Trường</a></li>
                                            <li><a href="#">Võng Du</a></li>
                                            <li><a href="#">Khoa Huyễn</a></li>
                                            <li><a href="#">Hệ Thống</a></li>
                                            <li><a href="#">Huyền Huyễn</a></li>
                                            <li><a href="#">Dị Giới</a></li>
                                            <li><a href="#">Dị Năng</a></li>
                                            <li><a href="#">Quân Sự</a></li>
                                            <li><a href="#">Lịch Sử</a></li>
                                            <li><a href="#">Xuyên Không</a></li>
                                            <li><a href="#">Xuyên Nhanh</a></li>
                                            <li><a href="#">Trọng Sinh</a></li>
                                            <li><a href="#">Trinh Thám</a></li>
                                            <li><a href="#">Thám Hiểm</a></li>
                                            <li><a href="#">Linh Dị</a></li>
                                        </ul>
                                    </div>

                                    <div class="classification border-bottom">
                                        <div class="classification-title">
                                            <span>Phân loại theo số chương</span>
                                        </div>
                                        <ul class="classification-list">
                                            <li><a href="#">Dưới 100 chương</a></li>
                                            <li><a href="#">100-500 chương</a></li>
                                            <li><a href="#">500-1000 chương</a></li>
                                            <li><a href="#">Trên 1000 chương</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                           
                        <div class="col-9">
                            <div class="section ">
                                <div class="section-title">
                                    <span>Tiên hiệp</span>
                                </div>
                                <div class="section-content">
                                    <ul class="top-novels">
                                        <li class="media py-5 border-bottom d-flex">
                                            <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/ta-tai-tan-thu-thon-lang-le-cau-thanh-dai-boss/150.jpg?1638291975" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Ta Tại Tân Thủ Thôn Lặng Lẽ Cẩu Thành Đại BOSS</a>
                                                </h2> 
                                                <div class="text-secondary text-overflow-3-lines">
                                                    Xuyên qua đến Tu Tiên giới, giết người đoạt bảo, ngươi lừa ta gạt, yêu thú khắp nơi... Không được, bên ngoài quá nguy hiểm. Vẫn là thành thành thật thật tại Tân Thủ thôn yên tĩnh tu luyện.
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Thanh Sam Cách</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1">3483</span>
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 1123
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="media py-5 border-bottom d-flex">
                                            <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/moi-nguoi-mot-cai-tinh-cau-bat-dau-che-tao-khoa-hoc-ky-thuat-van-minh/150.jpg?1638000691" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Mỗi người một cái tinh cầu: Bắt đầu chết tạo khoa học kỹ thuật văn minh </a>
                                                </h2> 
                                                <div class="text-secondary text-ellipsis--2">
                                                    
                                « B.faloo mạng tiểu thuyết độc nhất vô nhị ký hợp đồng tiểu thuyết: Mỗi người một cái tinh cầu: Bắt đầu chế tạo khoa học kỹ thuật văn minh »

                                Giang Phàm xuyên việt đến rồi mọi người đều có thể giác tỉnh tinh cầu thế giới.
                            
                                Thức tỉnh tinh cầu càng lớn, năng lượng sơ khai càng cao cấp hơn, năng lượng này quyết định chế tạo văn minh có cường đại hay không.
                            
                                Có người chuyển hóa ra cảm giác năng lượng, chế tạo thẻ bài văn minh, trên tinh cầu mỗi người đều là Tạp Tu.
                            
                                Có người chuyển hóa ra hồn lực năng lượng, chế tạo Võ Hồn văn minh, trên tinh cầu mỗi người đều là Hồn Sư.
                            
                                Có người chuyển hóa ra linh khí năng lượng, chế tạo Tu Tiên văn minh, trên tinh cầu mỗi người đều là Tu Tiên Giả!
                            
                                Có người giác tỉnh chân khí năng lượng, chế tạo Võ Giả văn minh, trên tinh cầu mỗi người đều là Võ Giả.
                            
                                Có người giác tỉnh ma lực năng lượng, chế tạo Ma Pháp văn minh, trên tinh cầu mỗi người đều là Ma Pháp Sư.
                            
                                Có người giác tỉnh linh khí năng lượng, chế tạo Tu Tiên văn minh, trên tinh cầu mỗi người đều là Tu Tiên Giả!
                            
                                . . .
                            
                                Mọi người đều ở đây phí hết tâm tư, cấu tạo các loại Siêu Phàm Tinh Cầu.
                            
                                Mà Giang Phàm, lại đi ngược lại con đường cũ, lợi dụng trí nhớ kiếp trước bắt đầu chế tạo khoa học kỹ thuật văn minh!
                            
                                "Ngươi Tiêm Tinh Hạm trực tiếp đánh xuyên đối thủ tinh cầu, đối thủ cúi đầu đầu hàng."
                            
                                "Ngươi Dual Vector Foil đem đối thủ tu tiên tinh cầu hóa thành một trang giấy, đối thủ bị ngươi sợ choáng váng!"
                            
                                . . .
                            
                                Đây là một cái dùng khoa học kỹ thuật đánh xuyên qua các lộ Siêu Phàm văn minh cố sự!
                            
                                Tinh cầu thiên phú :Phổ thông cấp, cấp tinh anh, Thống Lĩnh cấp, Vương Giả cấp, Sử Thi cấp, Truyền Thuyết cấp, Thần Thoại cấp cùng với. . . Tối cao Vĩnh Hằng cấp!
                            
                            tác ra 700k chữ r, đủ béo.
                            
                            CẦU HOA TƯƠI, CẦU BUFF KẸO.
                                                        
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Tứ tự chân ngôn</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1"> 3446</span>
                                                       
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 648
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="media py-5 border-bottom d-flex">
                                           <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/toan-dan-chuyen-chuc-ta-lua-chon-khong-chuc-nghiep-tan-nhan/150.jpg?1638291669" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Toàn Dân Chuyển Chức: Ta Lựa Chọn Không Chúc Nghiệp Tán Nhân</a>
                                                </h2> 
                                                <div class="text-secondary text-ellipsis--2">
                                                    
                                « B.faloo mạng tiểu thuyết độc nhất vô nhị ký hợp đồng tiểu thuyết: Toàn dân chuyển chức: Ta lựa chọn không chức nghiệp tán nhân »

                                Một năm kia, toàn cầu dị biến, trò chơi hàng lâm hiện thực, ma tai bắt đầu tàn sát bừa bãi.
                            
                                Vì chống lại đây hết thảy, mỗi một cái người đều muốn quy hoạch chức nghiệp tuyển hạng, điên cuồng thăng cấp, tranh thủ mạnh mẽ.
                            
                                Có người lựa chọn cao quý pháp gia, Nhị chuyển quyết định nguyên tố pháp sư.
                            
                                Có người tuyển chọn Triệu Hoán Sư, dưới cờ triệu hoán vật liên tiếp xuất hiện, quần ẩu chết địch nhân.
                            
                                Có thể khiến người mở rộng tầm mắt là, bị đặt vào kỳ vọng cao thi đại học sinh Vân Thần cũng là tuyển trạch không chuyển chức, làm một cái không chức nghiệp tán nhân!
                            
                               
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Quái khách tiên sinh</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1"> 2758</span>
                                                       
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 324
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="media py-5 border-bottom d-flex">
                                           <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/hong-hoang-ngu-say-vo-so-nam-bi-de-tu-lo-ra-roi/150.jpg?1638373000" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Hồng Hoang: Ngủ Say Vô Số Năm, Bị Đệ Tử Lộ Ra Rồi</a>
                                                </h2> 
                                                <div class="text-secondary text-ellipsis--2">
                                                    Trần Huyền xuyên qua Hồng Hoang, ngủ say vô số năm, bắt đầu đánh dấu Hồng Mông Đại Đạo tu vi lại không tự biết.
                    
                        Vô số sinh linh tụ tại bên cạnh hắn lĩnh hội đại đạo, tự xưng đệ tử.
                    
                        Một lòng chỉ muốn cẩu trở về hiện đại thế giới Trần Huyền, lại bị xuống núi đệ tử lộ ra rồi.
                    
                        Sau đó, Hồng Hoang khắp nơi lưu truyền truyền thuyết của hắn.
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Mộng lí gian sơn</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1"> 1596</span>
                                                       
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 63
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="media py-5 border-bottom d-flex">
                                            <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/hong-hoang-ngu-say-vo-so-nam-bi-de-tu-lo-ra-roi/150.jpg?1638373000" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Hồng Hoang: Ngủ Say Vô Số Năm, Bị Đệ Tử Lộ Ra Rồi</a>
                                                </h2> 
                                                <div class="text-secondary text-ellipsis--2">
                                                    Trần Huyền xuyên qua Hồng Hoang, ngủ say vô số năm, bắt đầu đánh dấu Hồng Mông Đại Đạo tu vi lại không tự biết.
                    
                        Vô số sinh linh tụ tại bên cạnh hắn lĩnh hội đại đạo, tự xưng đệ tử.
                    
                        Một lòng chỉ muốn cẩu trở về hiện đại thế giới Trần Huyền, lại bị xuống núi đệ tử lộ ra rồi.
                    
                        Sau đó, Hồng Hoang khắp nơi lưu truyền truyền thuyết của hắn.
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Mộng lí gian sơn</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1"> 1596</span>
                                                       
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 63
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="media py-5 border-bottom d-flex">
                                            <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/hong-hoang-ngu-say-vo-so-nam-bi-de-tu-lo-ra-roi/150.jpg?1638373000" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Hồng Hoang: Ngủ Say Vô Số Năm, Bị Đệ Tử Lộ Ra Rồi</a>
                                                </h2> 
                                                <div class="text-secondary text-ellipsis--2">
                                                    Trần Huyền xuyên qua Hồng Hoang, ngủ say vô số năm, bắt đầu đánh dấu Hồng Mông Đại Đạo tu vi lại không tự biết.
                    
                        Vô số sinh linh tụ tại bên cạnh hắn lĩnh hội đại đạo, tự xưng đệ tử.
                    
                        Một lòng chỉ muốn cẩu trở về hiện đại thế giới Trần Huyền, lại bị xuống núi đệ tử lộ ra rồi.
                    
                        Sau đó, Hồng Hoang khắp nơi lưu truyền truyền thuyết của hắn.
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Mộng lí gian sơn</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1"> 1596</span>
                                                       
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 63
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="media py-5 border-bottom d-flex">
                                           <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/hong-hoang-ngu-say-vo-so-nam-bi-de-tu-lo-ra-roi/150.jpg?1638373000" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Hồng Hoang: Ngủ Say Vô Số Năm, Bị Đệ Tử Lộ Ra Rồi</a>
                                                </h2> 
                                                <div class="text-secondary text-ellipsis--2">
                                                    Trần Huyền xuyên qua Hồng Hoang, ngủ say vô số năm, bắt đầu đánh dấu Hồng Mông Đại Đạo tu vi lại không tự biết.
                    
                        Vô số sinh linh tụ tại bên cạnh hắn lĩnh hội đại đạo, tự xưng đệ tử.
                    
                        Một lòng chỉ muốn cẩu trở về hiện đại thế giới Trần Huyền, lại bị xuống núi đệ tử lộ ra rồi.
                    
                        Sau đó, Hồng Hoang khắp nơi lưu truyền truyền thuyết của hắn.
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Mộng lí gian sơn</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1"> 1596</span>
                                                       
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 63
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="media py-5 border-bottom d-flex">
                                            <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/hong-hoang-ngu-say-vo-so-nam-bi-de-tu-lo-ra-roi/150.jpg?1638373000" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Hồng Hoang: Ngủ Say Vô Số Năm, Bị Đệ Tử Lộ Ra Rồi</a>
                                                </h2> 
                                                <div class="text-secondary text-ellipsis--2">
                                                    Trần Huyền xuyên qua Hồng Hoang, ngủ say vô số năm, bắt đầu đánh dấu Hồng Mông Đại Đạo tu vi lại không tự biết.
                    
                        Vô số sinh linh tụ tại bên cạnh hắn lĩnh hội đại đạo, tự xưng đệ tử.
                    
                        Một lòng chỉ muốn cẩu trở về hiện đại thế giới Trần Huyền, lại bị xuống núi đệ tử lộ ra rồi.
                    
                        Sau đó, Hồng Hoang khắp nơi lưu truyền truyền thuyết của hắn.
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Mộng lí gian sơn</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1"> 1596</span>
                                                       
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 63
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="media py-5 border-bottom d-flex">
                                            <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/hong-hoang-ngu-say-vo-so-nam-bi-de-tu-lo-ra-roi/150.jpg?1638373000" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Hồng Hoang: Ngủ Say Vô Số Năm, Bị Đệ Tử Lộ Ra Rồi</a>
                                                </h2> 
                                                <div class="text-secondary text-ellipsis--2">
                                                    Trần Huyền xuyên qua Hồng Hoang, ngủ say vô số năm, bắt đầu đánh dấu Hồng Mông Đại Đạo tu vi lại không tự biết.
                    
                        Vô số sinh linh tụ tại bên cạnh hắn lĩnh hội đại đạo, tự xưng đệ tử.
                    
                        Một lòng chỉ muốn cẩu trở về hiện đại thế giới Trần Huyền, lại bị xuống núi đệ tử lộ ra rồi.
                    
                        Sau đó, Hồng Hoang khắp nơi lưu truyền truyền thuyết của hắn.
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Mộng lí gian sơn</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1"> 1596</span>
                                                       
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 63
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="media py-5 border-bottom d-flex">
                                            <a href="#" class="mt-1 mx-4">
                                                <img alt="" width="78" src="https://static.cdnno.com/poster/hong-hoang-ngu-say-vo-so-nam-bi-de-tu-lo-ra-roi/150.jpg?1638373000" lazy="loaded"> 
                                            </a> 
                                            <div class="media-body">
                                                <h2 class="mb-2" style="font-size: 1.6rem;">
                                                    <a href="#" >Hồng Hoang: Ngủ Say Vô Số Năm, Bị Đệ Tử Lộ Ra Rồi</a>
                                                </h2> 
                                                <div class="text-secondary text-ellipsis--2">
                                                    Trần Huyền xuyên qua Hồng Hoang, ngủ say vô số năm, bắt đầu đánh dấu Hồng Mông Đại Đạo tu vi lại không tự biết.
                    
                        Vô số sinh linh tụ tại bên cạnh hắn lĩnh hội đại đạo, tự xưng đệ tử.
                    
                        Một lòng chỉ muốn cẩu trở về hiện đại thế giới Trần Huyền, lại bị xuống núi đệ tử lộ ra rồi.
                    
                        Sau đó, Hồng Hoang khắp nơi lưu truyền truyền thuyết của hắn.
                                                </div> 
                                                <ul class="list-unstyled d-flex flex-wrap mb-0 mt-3 text-secondary">
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-user"></i> <span class="mx-1">Mộng lí gian sơn</span>
                                                    </li>
                                                    <li class="d-flex align-items-center me-4">
                                                        <i class="fas fa-fire"></i> <span class="mx-1"> 1596</span>
                                                       
                                                    </li> 
                                                    <li>
                                                        <a href="#" class="latest-chapter">
                                                            Chương 63
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                    
                                    <div class="chart-pagination d-flex justify-content-center my-5">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>   
                            </div>
                        
                   
                        </div>
                    </div>
                </div>
            </div>
        </div>