  <div class="content">
            <div class="container-xl page">
                <div class="page-content">
                    <div class="row">
                        <div class="col-3">
                            <div class="section">
                                <div class="section-title">
                                    <span>Đã chọn</span>
                                </div>
                                <div class="section-content">
                                    <div class="classification border-bottom">
                                        <div class="classification-title">
                                            <span>Thể Loại</span>
                                        </div>
                                        <ul class="classification-list">
                                            {{!-- <li class="active"><a href="#">Tiên Hiệp</a></li>
                                            <li><a href="#">Kiếm Hiệp</a></li>
                                            <li><a href="#">Ngôn Tình</a></li>
                                            <li><a href="#">Đam Mỹ</a></li>
                                            <li><a href="#">Quan Trường</a></li>
                                            <li><a href="#">Võng Du</a></li>
                                            <li><a href="#">Khoa Huyễn</a></li>
                                            <li><a href="#">Hệ Thống</a></li>
                                            <li><a href="#">Huyền Huyễn</a></li>
                                            <li><a href="#">Dị Giới</a></li>
                                            <li><a href="#">Dị Năng</a></li>
                                            <li><a href="#">Quân Sự</a></li>
                                            <li><a href="#">Lịch Sử</a></li>
                                            <li><a href="#">Xuyên Không</a></li>
                                            <li><a href="#">Xuyên Nhanh</a></li>
                                            <li><a href="#">Trọng Sinh</a></li>
                                            <li><a href="#">Trinh Thám</a></li>
                                            <li><a href="#">Thám Hiểm</a></li>
                                            <li><a href="#">Linh Dị</a></li> --}}
                                        </ul>
                                    </div>

                                    <div class="classification border-bottom">
                                        <div class="classification-title">
                                            <span>Phân loại theo số chương</span>
                                        </div>
                                        <ul class="classification-list">
                                            <li><a href="#">Dưới 100 chương</a></li>
                                            <li><a href="#">100-500 chương</a></li>
                                            <li><a href="#">500-1000 chương</a></li>
                                            <li><a href="#">Trên 1000 chương</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                           
                        <div class="col-9">
                            <div class="section ">
                                <div class="section-title">
                                    <span> </span>
                                </div>
                                <div class="section-content">
                                    <ul class="top-novels">
                                        
                                    </ul>
                                    
                                    <div class="chart-pagination d-flex justify-content-center my-5">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>   
                            </div>
                        
                   
                        </div>
                    </div>
                </div>
            </div>
        </div>