 <div class="content">
            <div class="container-xl page">
                <div class="page-content">
                    <div class="row" style="margin-left: -3rem;">
                       <div class="wrap-error-page text-center mt-2 mb-5">
                            <img src="/img/error-img.png" width="300" alt="404" class="err-img">
                            <h3 class="fs-1">Rất tiếc! </h3>
                            <div class="fs-4">Nội dung này không tồn tại hoặc đã bị xóa</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>