   <div class="content">
            <div class="container-xl page">
                <div class="page-content">
                    <div class="row">
                        <div class="col-3">
                            <ul class="list">
                                <li class="list-item active"><i class="fas fa-id-card"></i> Hồ sơ</li>
                                <li class="list-item"><i class="fas fa-user"></i> Tài khoản</li>
                                <li class="list-item"><i class="fas fa-cog"></i> Mật khẩu</li>
                                <li class="list-item"><i class="fas fa-book"></i> Theo dõi</li>
                                <li class="list-item"><i class="fas fa-bookmark"></i> Đánh dấu</li>
                                <li class="list-item"><i class="fas fa-dollar-sign"></i> Tài sản</li>
                                <li class="list-item"><i class="fas fa-bell"></i> Thông báo</li>
                                <li class="list-item border-top border-2"><i class="fas fa-upload"></i> Đăng truyện</li>
                                <li class="list-item"><i class="fas fa-book"></i> Truyện đã đăng</li>
                            </ul>
                        </div>
                        <div class="col-9">
                            <div class="section info">
                                <div class="section-title">
                                   Hồ sơ
                                </div>
                                <div class="section-content mt-4">
                                    <div class="row">
                                        <div class="col-8 mx-auto">
                                            <div class="media mt-5 mb-4 d-flex">
                                                <div class="nh-avatar nh-avatar--90 mr-3">
                                                    <img alt="" class="img-fluid mx-4" src="https://static.cdnno.com/user/default/100.jpg" width=120 style="border-radius: 50%;">
                                               </div>
                                                <div class="media-body">
                                                    <div class="mt-3 mx-2 d-flex align-items-center fs-3" style="font-weight: 500;"> User123
                                                        <span class="badge p-2 bg-primary mx-3" style="border-radius: 8rem;">Lv.1</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="progress mb-3 " style="height: 1.6rem; background-color:rgb(226, 226, 226);">
                                                <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary fs-6" style="width: 30%;">Exp: 0 / 10</div>
                                            </div>
                                            <table class="table table-border-less">
                                                <tbody >
                                                    <tr>
                                                        <td class="align-middle text-uppercase" style="width: 100px;">Đã đọc</td> 
                                                        <td class="align-middle">
                                                            <div class="mt-3 mb-2 mx-3">
                                                                <span data-v-13fe79ea="" class="h5 m-0 mr-1 fs-3">0</span> truyện
                                                            </div>
                                                            <div class="mt-2 mb-3 mx-3">
                                                                <span class="h5 m-0 mr-1 fs-3">2</span> chương
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle border-top-dashed text-uppercase" style="width: 100px;">Bình luận</td>
                                                        <td class="align-middle border-top-dashed">
                                                            <div class="my-3 mx-3"><span class="h5 m-0 fs-3">0</span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle border-top-dashed text-uppercase" style="width: 100px;">Đề cử</td> 
                                                        <td class="align-middle border-top-dashed">
                                                            <div class="my-3 mx-3"><span class="h5 m-0 fs-3">0</span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle border-top-dashed text-uppercase" style="width: 100px;">Thích</td>
                                                        <td class="align-middle border-top-dashed">
                                                            <div class="my-3 mx-3"><span class="h5 m-0 fs-3">0</span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle border-top-dashed border-bottom-dashed text-uppercase" style="width: 100px;">Cất giữ</td>
                                                        <td class="align-middle border-top-dashed border-bottom-dashed">
                                                            <div class="my-3 mx-3"><span class="h5 m-0 fs-3">1</span></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="section general-information d-none">
                                <div class="section-title">
                                   Thông tin chung
                                </div>
                                <div class="section-content mt-4">
                                    <div class="avatar text-center ">
                                        <div class="avatar-wrapper text-center">
                                            <img class="profile-pic" src="https://static.cdnno.com/user/default/200.jpg" />
                                            <div class="upload-button">
                                                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                            </div>
                                            <input class="file-upload" type="file" accept="image/*"/>
                                        </div>
                                        <span class="text-muted">
                                            <em>Ấn vào ảnh trên để đổi ảnh đại diện</em>
                                        </span>
                                    </div>

                                    <div class="information">
                                        <form action="">
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="name" class="form-label" style="font-weight: 500;">Tên</label>
                                                <input type="text" class="form-control" id="name" value="User123"  style="padding:.6rem; font-size:1.4rem">
                                            </div>
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="birthdate" class="form-label" style="font-weight: 500;">Ngày sinh </label>
                                                <input type="date" class="form-control" id="birthdate"  style="padding:.6rem; font-size:1.4rem">
                                            </div>
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="gender" class="form-label" style="font-weight: 500;">Giới tính</label>
                                                <input type="text" class="form-control" id="gender"  style="padding:.6rem; font-size:1.4rem">
                                            </div>
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="introduction" class="form-label" style="font-weight: 500;">Giới thiệu</label>
                                                <textarea class="form-control" id="introduction" rows="4" style="resize: none; padding:.6rem; font-size:1.4rem"></textarea>
                                            </div>
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="email" class="form-label" style="font-weight: 500;">Email</label>
                                                <input type="email" class="form-control" id="email" value="user123@gmail.com" readonly style="padding:.6rem; font-size:1.4rem">
                                            </div>
                                            <div class="mb-3" style="float: right;">
                                                <button type="button" type="submit" class="btn submit" >Cập nhật</button>
                                            </div>
                                           
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="section novel-following d-none">
                                <div class="section-title">
                                   Tủ Truyện
                                </div>
                                <div class="section-content mt-4">
                                    <ul class="reading-list">
                                        <li class="reading-list-item">
                                            <a href="#" class="item-img">
                                                <img src="https://static.cdnno.com/poster/cong-phap-cua-ta-toan-bo-nho-nhat/150.jpg?1631271236" alt="" width="44">
                                            </a>
                                            <div class="item-body">
                                                <h2><a href="" class="item-body-title">Công Pháp Của Ta Toàn Bộ Nhờ Nhặt</a></h2>
                                                <div class="text-muted text-overflow-1-lines">
                                                    Đã đọc: 2/2223
                                                </div>
                                            </div>
                                        </li>
                                        <li class="reading-list-item">
                                            <a href="#" class="item-img">
                                                <img src="https://static.cdnno.com/poster/vu-than-chua-te/150.jpg?1585205086" alt="" width="44">
                                            </a>
                                            <div class="item-body">
                                                <h2><a href="" class="item-body-title">Võ thần chúa tể</a></h2>
                                                <div class="text-muted text-overflow-1-lines">
                                                    Đã đọc: 2/2223
                                                </div>
                                            </div>
                                        </li>
                                        <li class="reading-list-item">
                                            <a href="#" class="item-img">
                                                <img src="https://static.cdnno.com/poster/van-co-than-de/150.jpg?1585205583" alt="" width="44">
                                            </a>
                                            <div class="item-body">
                                                <h2><a href="" class="item-body-title">Vạn cổ thần đế</a></h2>
                                                <div class="text-muted text-overflow-1-lines">
                                                    Đã đọc: 2/2223
                                                </div>
                                            </div>
                                        </li>
                                        <li class="reading-list-item">
                                            <a href="#" class="item-img">
                                                <img src="https://static.cdnno.com/poster/vo-thuong-sat-than/150.jpg?1585205565" alt="" width="44">
                                            </a>
                                            <div class="item-body">
                                                <h2><a href="" class="item-body-title">Vô thượng sát thần</a></h2>
                                                <div class="text-muted text-overflow-1-lines">
                                                    Đã đọc: 2/2223
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="section bookmark d-none">
                                <div class="section-title">
                                   Đánh dấu
                                </div>
                                <div class="section-content mt-4">
                                    <ul class="reading-list">
                                        <li class="reading-list-item">
                                            <a href="#" class="item-img">
                                                <img src="https://static.cdnno.com/poster/dinh-cap-khi-van-lang-le-tu-luyen-ngan-nam/150.jpg?1614159439" alt="" width="44">
                                            </a>
                                            <div class="item-body">
                                                <h2><a href="" class="item-body-title">Đỉnh cấp khí vận, lặng lẽ tu luyện ngàn năm</a></h2>
                                                <div class="text-muted text-overflow-1-lines">
                                                    Đang đọc: 1/2223
                                                </div>
                                            </div>
                                        </li>
                                        <li class="reading-list-item">
                                            <a href="#" class="item-img">
                                                <img src="https://static.cdnno.com/poster/vu-than-chua-te/150.jpg?1585205086" alt="" width="44">
                                            </a>
                                            <div class="item-body">
                                                <h2><a href="" class="item-body-title">Võ thần chúa tể</a></h2>
                                                <div class="text-muted text-overflow-1-lines">
                                                    Đang đọc: 2/1623
                                                </div>
                                            </div>
                                        </li>
                                        <li class="reading-list-item">
                                            <a href="#" class="item-img">
                                                <img src="https://static.cdnno.com/poster/van-co-than-de/150.jpg?1585205583" alt="" width="44">
                                            </a>
                                            <div class="item-body">
                                                <h2><a href="" class="item-body-title">Vạn cổ thần đế</a></h2>
                                                <div class="text-muted text-overflow-1-lines">
                                                    Đang đọc: 3/2863
                                                </div>
                                            </div>
                                        </li>
                                        <li class="reading-list-item">
                                            <a href="#" class="item-img">
                                                <img src="https://static.cdnno.com/poster/vo-thuong-sat-than/150.jpg?1585205565" alt="" width="44">
                                            </a>
                                            <div class="item-body">
                                                <h2><a href="" class="item-body-title">Vô thượng sát thần</a></h2>
                                                <div class="text-muted text-overflow-1-lines">
                                                    Đang đọc: 4/263
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="section setting d-none">
                                <div class="section-title">
                                   Mật khẩu
                                </div>
                                <div class="section-content mt-4">
                                    <div class="information">
                                        <form action="">
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="current-password" class="form-label" style="font-weight: 500;">Mật khẩu hiện tại</label>
                                                <input type="password" class="form-control" id="current-password" style="padding:.6rem; font-size:1.4rem">
                                            </div>
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="new-password" class="form-label" style="font-weight: 500;">Mật khẩu mới </label>
                                                <input type="password" class="form-control" id="new-password" style="padding:.6rem; font-size:1.4rem">
                                            </div>
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="confirm-password" class="form-label" style="font-weight: 500;">Xác nhân mật khẩu mới</label>
                                                <input type="password" class="form-control" id="confirm-password"  style="padding:.6rem; font-size:1.4rem">
                                            </div>
                                            <div class="mb-3" style="float: right;">
                                                <button type="button" type="submit" class="btn submit" >Cập nhật</button>
                                            </div>
                                           
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="section property d-none">
                                <div class="section-title">
                                    <div class="tabs">
                                        <div class="tab-item active">
                                            Kẹo
                                        </div>
                                        <div class="tab-item">
                                            Hoa
                                        </div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <div class="section-content mt-4">
                                    <div class="information">
                                        <div class="tab-content">
                                            <div class="tab-pane active">
                                                <div class="item-img d-inline-block">
                                                    <img src="./asset/img/candy.svg" alt="" width="50">
                                                </div>
                                                <div class="item-body d-inline-block">
                                                    <h2>
                                                        Bạn hiện có <span class="candy"> 0 </span> kẹo
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="tab-pane">
                                                <div class="item-img d-inline-block" style="font-size: 2rem;">
                                                    <img src="./asset/img/flower.png" alt="" width="80">
                                                </div>
                                                <div class="item-body d-inline-block">
                                                    <h2>
                                                        Bạn hiện có <span class="flower"> 0 </span> hoa
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section notification d-none ">
                                <div class="section-title">
                                   Thông báo
                                </div>
                                <div class="section-content mt-4">
                                    Bạn không có thông báo.
                                </div>
                            </div>

                            <div class="section upload-novel d-none">
                                <div class="section-title">
                                   Thêm truyện mới
                                </div>
                                <div class="section-content mt-4">
                                    <div class="avatar">
                                        <label for="cover-img" class="form-label" style="font-weight: 500;">Ảnh bìa</label>
                                        <div class="avatar-wrapper text-center" style="height: 25rem; border-radius: 0;">
                                            <img class="profile-pic" src="https://pub.truyen.onl/image/600x800.png" />
                                            <div class="upload-button">
                                                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                            </div>
                                            <input class="file-upload" id="cover-img" type="file" accept="image/*"/>
                                        </div>
                                        <span class="text-muted text-center">
                                            <em>Ấn vào ảnh trên để cập nhật ảnh bìa truyện</em>
                                        </span>
                                    </div>

                                    <div class="information">
                                        <form action="">
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="novelname" class="form-label" style="font-weight: 500;">Tên truyện</label>
                                                <input type="text" class="form-control" id="novelname" placeholder="Tên truyện"  style="padding:.6rem; font-size:1.4rem">
                                            </div>
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="type" class="form-label" style="font-weight: 500;">Thể loại</label>
                                                <select class="form-select" aria-label="type-select" placeholder="" style="padding:.6rem; font-size:1.4rem; ">
                                                    <option selected>Chọn thể loại truyện thích hợp</option>
                                                    <option value="tiên hiệp">Tiên hiệp</option>
                                                    <option value="tu tiên">Tu tiên</option>
                                                    <option value="ngôn tình">Ngôn tình</option>
                                                  </select>
                                            </div>
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <label for="intro" class="form-label" style="font-weight: 500;">Giới thiệu</label>
                                                <textarea class="form-control" id="intro" rows="8" 
                                                placeholder="Tóm tắt cho truyện không nên quá dài mà nên ngắn gọn, tập trung, thú vị. Phần này rất quan trọng vì nó quyết định độc giả có đọc hay không." 
                                                style="resize: none; padding:.6rem; font-size:1.4rem"></textarea>
                                            </div>
                                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                                <div class="form-check">
                                                    <input class="form-check-input p-3" type="checkbox" value="" id="accept">
                                                    <label class="form-check-label mx-2" for="accept" style="font-size: 1.8rem; opacity: 0.8;">
                                                      Tôi cam đoan đây là truyện do tôi sáng tác và không sao chép từ bất kì nguồn nào khác.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-2" style="float: right;">
                                                <button type="button" type="submit" class="btn submit" >Đăng truyện</button>
                                            </div>
                                           
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="section uploaded-novel d-none">
                                <div class="section-title">
                                   Truyện đã đăng
                                </div>
                                <div class="section-content mt-4">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên truyện</th>
                                            <th scope="col">Thể loại</th>
                                            <th scope="col">Ngày đăng</th>
                                            <th scope="col">Ảnh bìa</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Võ thần chúa tể</td>
                                            <td>Tu tiên, võ hiệp</td>
                                            <td>1/1/2021</td>
                                            <td><img src="https://static.cdnno.com/poster/dinh-cap-khi-van-lang-le-tu-luyen-ngan-nam/150.jpg?1614159439" alt="" width="60"></td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">2</th>
                                            <td>Vô thượng sát thần</td>
                                            <td>Tu tiên, võ hiệp</td>
                                            <td>1/2/2021</td>
                                            <td> <img src="https://static.cdnno.com/poster/vo-thuong-sat-than/150.jpg?1585205565" alt="" width="60"></td>
                                          </tr>
                                         
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>