 <div class="admin-content">
            <div class="button-group">
                <a href="http://localhost:3000/admin/genre/create" class="btn btn-big">Add Genre</a>
                <a href="http://localhost:3000/admin/genre" class="btn btn-big">Manage</a>
            </div>
            <div class="section upload-novel">
                <div class="section-title">
                   Thêm thể loại mới
                </div>
                <div class="section-content mt-4">
                    <div class="information">
                        <form action="create.html">
                            <div class="mb-3" style="margin-bottom: 2rem!important;">
                                <label for="genrename" class="form-label" style="font-weight: 500;">Tên thể loại</label>
                                <input type="text" class="form-control" id="genrename" placeholder="Tên thể loại"  style="padding:.6rem; font-size:1.4rem">
                            </div>
                            <div class="mb-3 intro" style="margin-bottom: 2rem!important;">
                                <label for="description" class="form-label" style="font-weight: 500;">Mô tả</label>
                                <textarea class="form-control" id="intro" rows="8" 
                                placeholder="Mô tả ngắn gọn, thú vị thể loại." 
                                style="resize: none; padding:.6rem; font-size:1.4rem"></textarea>
                            </div>
                            <div class="mb-3 mt-2" style="float: right;">
                                <button type="button" type="submit" class="btn submit" >Thêm thể loại</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>