 <div class="admin-content">
            <div class="button-group">
                <a href="http://localhost:3000/admin/genre/create" class="btn btn-big">Add Genre</a>
                <a href="http://localhost:3000/admin/genre" class="btn btn-big">Manage</a>
            </div>
            <div class="content">
                <h2 class="page-title">Genres</h2>
                <div class="searchbar-item search ">
                    <input type="search" class="form-control search-input" placeholder="Thể loại muốn tìm...">
                    <div class="search-select-btn"><i class="fas fa-search"></i></div>
                </div>
                <table>
                    <thead>
                        <th>N</th>
                        <th>Name</th>
                        <th colspan="2">Action</th>
                    </thead>
                    <tbody>
                        {{!-- <tr>
                            <td>1</td>
                            <td>Tiên hiệp</td>
                            <td><a href="#" class="edit">Edit</a></td>
                            <td><a href="#" class="delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Tu tiên</td>
                            <td><a href="#" class="edit">Edit</a></td>
                            <td><a href="#" class="delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Ngôn tình</td>
                            <td><a href="#" class="edit">Edit</a></td>
                            <td><a href="#" class="delete">Delete</a></td>
                        </tr> --}}
                    </tbody>
                </table>
            </div>
        </div>