 <div class="admin-content">
            <div class="button-group">
                <a href="http://localhost:3000/admin/novel/create" class="btn btn-big">Add Novel</a>
                <a href="http://localhost:3000/admin/novel" class="btn btn-big">Manage</a>
            </div>
            <div class="content">
                <h2 class="page-title">Novels</h2>
                <div class="searchbar-item search ">
                    <input type="search" class="form-control search-input" placeholder="Truyện muốn tìm...">
                    <div class="search-select-btn"><i class="fas fa-search"></i></div>
                </div>
                <table>
                    <thead>
                        <th>N</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th colspan="3">Action</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Name1</td>
                            <td>Aut1</td>
                            <td><a href="#" class="edit">Edit</a></td>
                            <td><a href="#" class="delete">Delete</a></td>
                            <td><a href="#" class="publish">Publish</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Name2</td>
                            <td>Aut2</td>
                            <td><a href="#" class="edit">Edit</a></td>
                            <td><a href="#" class="delete">Delete</a></td>
                            <td><a href="#" class="publish">Publish</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>