<div class="container csstransforms3d" id="truyen" style="padding-top:40rem;">
            <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
                <div class="col-xs-12 col-info-desc" itemscope itemtype="https://schema.org/Book">
                    <div class="title-list book-intro">
                        <h2>Thông tin truyện <i class="fa fa-book"></i></h2>
                    </div>
                    <h3 class="title" itemprop="name">Thần Đạo Đan Tôn</h3>
                    <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                        <div class="books">
                            <div class="book">
                                <img src="/img/tmp_book.jpg" alt="Tmp" itemprop="image">
                            </div>
                        </div>
                        <div class="info">
                            <div>
                                <h3>Tác giả:</h3>
                                <a itemprop="author" href="#" title="">Cô Đơn Địa Phi</a>
                            </div>
                            <div>
                                <h3>Thể loại:</h3>
                                <a itemprop="genre" href="#" title="">Tiện Hiệp</a>,
                                <a itemprop="genre" href="#" title="">Huyền Huyễn</a>
                            </div>
                            <div>
                                <h3>Nguồn:</h3>
                                <span class="source">Phong Nguyệt Lâu</span>
                            </div>
                            <div>
                                <h3>Trạng thái:</h3>
                                <span class="text-primary">Đang ra</span>
                                <!--<span class="text-success">Full</span>-->
                            </div>
                            <div>
                                <h3>Đề cử:</h3>
                                <span class="suggest">0</span><i class="svg-icon icon-flower"></i>
                            </div>
                        </div>
                        <div id="suggest-book">
                            <a href="#" class="btn text-primary">
                                    Đề cử 
                                <i class="svg-icon icon-flower"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 desc">
                        <div class="rate">
                            <div class="rate-holder" data-score="" style="cursor: pointer;">
                                <!--<img alt="1" src="star-on.png" title="Thất bại tạo hóa...">&nbsp;<img alt="2"
                                    src="star-on.png" title="Rác thế nhờ">&nbsp;<img alt="3" src="star-on.png"
                                    title="Khó mà trên trung bình">&nbsp;<img alt="4" src="star-on.png"
                                    title="Haizz">&nbsp;<img alt="5" src="star-on.png" title="Tạm">&nbsp;<img alt="6"
                                    src="star-on.png" title="Cũng thường">&nbsp;<img alt="7" src="star-on.png"
                                    title="Ngay dưới mức hay">&nbsp;<img alt="8" src="star-on.png"
                                    title="Hay đấy">&nbsp;<img alt="9" src="star-on.png"
                                    title="Ulatr Hay dữ bây!">&nbsp;<img alt="10" src="star-on.png" title="Siêu phẩm">
                                <input name="score" type="hidden" value="">
                                -->
                                <div id="rating">
                                    <span class="star">★</span>  
                                    <span class="star">★</span>
                                    <span class="star">★</span>  
                                    <span class="star">★</span>
                                    <span class="star">★</span>  
                                    <span class="star">★</span>
                                    <span class="star">★</span>  
                                    <span class="star">★</span>
                                    <span class="star">★</span>  
                                    <span class="star">★</span>
                                  </div>
                            </div>
                            <em class="rate-text"></em>
                            <div class="small" itemprop="aggregateRating" itemscope
                                itemtype="https://schema.org/AggregateRating">
                                <em>Đánh giá:
                                    <strong>
                                        <span itemprop="ratingValue">7.1</span>
                                    </strong>/<span class="text-muted" itemprop="bestRating">10</span>
                                    từ
                                    <strong>
                                        <span itemprop="ratingCount">5481</span>
                                        lượt</strong>
                                </em>
                            </div>
                        </div>
                        <div class="desc-text desc-text-full" itemprop="description">
                            <p>Lăng Hàn - Một Đan Đế đại danh đỉnh định mang trong thân mình tuyệt thế công pháp vì truy cầu bước cuối, xé bỏ tấm màn thành thần nhưng thất bại đã phải bỏ mình. Thế nhưng ông trời dường như không muốn tuyệt dường người, Lăng Hàn đã được trọng sinh vào một thiếu niên cùng tên và điều may mắn nhất là "Bất Diệt Thiên Kinh" ấn ký vẫn còn nằm nguyên trong tâm thức hắn.
                                <br><br>
                                Từ nay về sau sóng gió cuộn trào nổi lên, Đan Đế ngày xưa bây giờ phải cùng tranh phong với vô số thiên tài trẻ tuổi, lại bắt đầu một truyền thuyết mới như để chứng minh với trời đất: Ta, là người mạnh nhất!
                                <br><br>
                                <strong>Phân chia cảnh giới:</strong> Luyện Thể, Tụ Nguyên, Dũng Tuyền, Linh Hải, Thần Thai, Sinh Hoa, Linh Anh, Hóa Thần cùng Thiên Nhân Cảnh.....
                                <br>
                                <i>Mỗi cảnh giới chia làm chín tầng: tầng một đến ba là tiền kỳ, tầng bốn đến sáu gọi là</i><span id="dots">...</span><span id="more"> <i>trung kỳ và tầng bảy đến chín gọi là hậu kỳ và đỉnh</i>
                                <br><br>
                                <strong>Cảnh giới Đan Sư:</strong> Hoàng cấp,Huyền cấp, Địa cấp, Thiên cấp...<br>
                                <strong>Thần Cảnh:</strong> Nhật Nguyệt Cảnh, Sơn Hà Cảnh, Tinh Thần Cảnh, Hằng Hà Cảnh, Sáng Thế Cảnh<br>
                                <i>Mỗi cảnh giới chia làm: Tiểu Cực Vị, Trung Cực Vị, Đại Cực Vi, Đại Viên Mãn trong một Cực Vị lại chia làm: Tiền kỳ, Trung kỳ, Hậu kỳ, Viên mãn</i><br>
                                <strong>Cảnh giới Tiên Vực:</strong>Trảm Trần Cảnh (Nhất Trảm-Nhị Trảm-Tam Trảm-Tứ Trảm-Ngũ Trảm),Phân Hồn Cảnh (Dương Hồn-Âm Hồn-Thiên Hồn-Địa Hồn), Tiên Phủ Cảnh, Thăng Nguyên Cảnh, Tiên Vương có 9 tầng từ 1 đến 9, bên trên Tiên Vương là Thiên Tôn<br>
                                <strong>Cảnh giới Đan Sư ở Tiên Vực:</strong> Nhất Tinh, Nhị Tinh, Tam Tinh, Tứ Tinh,Ngũ Tinh Đan Sư</span></p>
                            <div class="showmore">
                                <button onclick="ReadMoreFunc()" id="btn">Xem thêm</button>
                            </div>
                        </div>
                        <div class="l-chapter">
                            <div class="l-title">
                                <h3>Các chương mới nhất</h3>
                            </div>
                            <ul class="l-chapters">
                                <li>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <a href="#" title="Chương 5340: Mời">
                                        <span class="chapter-text">
                                            <span>Chương </span>
                                        </span>5340: Mời
                                    </a>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <a href="#" title="Chương 5339: Xâm phạm">
                                        <span class="chapter-text">
                                            <span>Chương </span>
                                        </span>5339: Xâm phạm
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" id="list-chapter">
                    <div class="title-list">
                        <h2>Danh sách chương <i class="fa fa-book-open"></i></h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <ul class="list-chapter">
                                <li>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <a href="#" title="">
                                        <span class="book-text">
                                            <span>Quyển </span>
                                        </span>1 -
                                        <span class="chapter-text">
                                            <span>Chương </span>
                                        </span>1: Mở đầu
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <ul class="list-chapter">
                                <li>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <a href="#" title="">
                                        <span class="book-text">
                                            <span>Quyển </span>
                                        </span>1 -
                                        <span class="chapter-text">
                                            <span>Chương </span>
                                        </span>26:
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="pagination pagination-sm">
                        <li class="active">
                            <span>1<span class="sr-only"> (đang xem)</span>
                            </span>
                        </li>
                        <li>
                            <a href="#" title="">2</a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <span class="sr-only">Trang tiếp</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">Cuối
                                <span class="arrow">»</span>
                            </a>
                        </li>
                        <li class="dropup page-nav">
                            <a href="#" data-toggle="dropdown">Chọn trang
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form action="." name="page_jump" id="page_jump" method="get">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Đi</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 comment-box">
                    <div class="title-list">
                        <h2>Bình luận truyện <i class="fa fa-comments"></i></h2>
                    </div>
                    <div class="comment-list mf-list">
                        <div class="comment-list-item">
                            <img class="comment-list-item-cover" src="/img/top-bar-avatar-img.png">
                            <div class="comment-list-item-info">
                                <form action="./index.html" name="formpl" id="formpl" method="post" class="postForm" onsubmit="return false">
                                    <textarea class="comment-input js_max_text_length" name="txt_recontent"
                                        placeholder="Thêm bình luận"></textarea>
                                    <p class="comment-list-item-info-line">
                                        <a class="comment-list-item-info-emoticon emoticonbt" href="#">Emoticon</a>
                                        <a class="post-btn" href="#" data-isenable="1">Đăng</a>
                                        <span class="emotion-form"> <img src="/img/emotion-form.png">
                                            <a href="#">m(_ _)m</a> 
                                            <a href="#">(´･ω･`)</a> 
                                            <a href="#">(`･ω･´)</a> 
                                            <a href="#">(〒▽〒)</a> 
                                            <a href="#">（┬＿┬）</a> 
                                            <a href="#">(￣ε(#￣) Σ</a> 
                                            <a href="#">ヽ(`Д´)ﾉ</a> 
                                            <a href="#">(＃ﾟДﾟ)</a> 
                                            <a href="#">(　ﾟДﾟ）</a> 
                                            <a href="#">┐('～`；)┌</a> 
                                            <a href="#">（´∀｀）</a> 
                                            <a href="#">（　´_ゝ`）</a> 
                                            <a href="#">Σ(゜д゜;)</a> 
                                            <a href="#">(･∀･)</a> 
                                            <a href="#">(´∀｀)σ)∀`)</a> 
                                            <a href="#">←_←</a> 
                                            <a href="#">→_→</a> 
                                            <a href="#">（´-`）.｡oO( ... )</a> 
                                            <a href="#">（ つ Д ｀）</a> 
                                            <a href="#">(≧ロ≦)</a> 
                                            <a href="#">ヽ(ｏ`皿′ｏ)ﾉ</a> 
                                            <a href="#">(⌒▽⌒)</a> 
                                            <a href="#">(￣3￣)</a> 
                                            <a href="#">(〃ω〃)</a> 
                                            <a href="#">(｡･ω･｡)</a> 
                                            <a href="#">(●′ω`●)</a> 
                                            <a href="#">(っ◕‿◕)っ</a> 
                                            <a href="#">(〜￣△￣)〜</a> 
                                            <a href="#">Σ(￣□￣||)</a> 
                                            <a href="#">(╯°口°)╯(┴—┴</a> 
                                            <a href="#">_(:3」∠)_</a> 
                                        </span>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <div class="comment-list commentcontent">
                            <div class="comment-list-item">
                                <img class="comment-list-item-cover" src="/img/top-bar-avatar-img.png">
                                <div class="comment-list-item-info">
                                    <p class="comment-list-item-info-line">
                                        <span class="comment-list-item-info-title">Tester01</span>
                                        <span class="comment-list-item-info-date">2021-11-11 23:05</span>
                                    </p>
                                    <p class="comment-list-item-info-content">Ỏ ỏ ỏ</p>
                                    <p class="comment-list-item-info-line">
                                        <a class="comment-list-item-info-like likebtn" data-val="1" data-pid="2" href="#">(0)</a>
                                        <a class="comment-list-item-info-reply replybtn" data-poster="" data-pid="2" href="#">Phản hồi</a>
                                    </p>
                                    <p class="comment-list-item-info-line border"></p>
                                </div>
                            </div>
                            <div class="comment-list-item">
                                <img class="comment-list-item-cover" src="/img/top-bar-avatar-img.png">
                                <div class="comment-list-item-info">
                                    <p class="comment-list-item-info-line">
                                        <span class="comment-list-item-info-title">Tester02</span>
                                        <span class="comment-list-item-info-date">2021-11-11 22:22</span>
                                    </p>
                                    <p class="comment-list-item-info-content">UwU</p>
                                    <p class="comment-list-item-info-line">
                                        <a class="comment-list-item-info-like likebtn" data-val="1" data-pid="1" href="#">(0)</a>
                                        <a class="comment-list-item-info-reply replybtn" data-poster="" data-pid="1" href="#">Phản hồi</a>
                                    </p>
                                    <p class="comment-list-item-info-line border"></p>
                                </div>
                            </div>
                        </div>
                        <div class="pager-list mt0">
                            <div class="pager-list-m" style="cursor: pointer">
                                <a class="active">1</a>
                                <a data-pageid="2">2</a>
                                <a data-pageid="3">3</a>
                                <a data-pageid="4">4</a>
                                <a data-pageid="5">5</a>
                                <a data-pageid="6">6</a>
                                <a data-pageid="7">7</a>
                                <a data-pageid="8">8</a>
                                <a data-pageid="2">></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
                <div class="list list-truyen col-xs-12">
                    <div class="title-list">
                        <h4>Truyện cùng tác giả</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h3>
                                <a href="#" title="Tu La Ma Đế">Tu La Ma Đế</a>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h3>
                                <a href="#" title="Kiếm Động Cửu Thiên">Kiếm Động Cửu Thiên</a>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h3>
                                <a href="#" title="Hoành Tảo Hoang Vũ">Hoành Tảo Hoang Vũ</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="list list-truyen list-side col-xs-12">
                    <div class="title-list">
                        <h4>Truyện đang hot</h4>
                    </div>
                    <div class="row top-nav" data-limit="10">
                        <div class="col-xs-4 active" data-type="day" style="cursor: pointer; pointer-events: auto; opacity: 1;">Ngày</div>
                        <div class="col-xs-4" data-type="month" style="cursor: pointer; pointer-events: auto; opacity: 1;">Tháng</div>
                        <div class="col-xs-4" data-type="all" style="cursor: pointer; pointer-events: auto; opacity: 1;">All time</div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-1">1</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#" title="Mê Vợ Không Lối Về">Mê Vợ Không Lối Về</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Ngôn tình">Ngôn tình</a>,
                                <a itemprop="genre" href="#" title="Ngược">Ngược</a>,
                                <a itemprop="genre" href="#" title="Sủng">Sủng</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-2">2</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#" title="Thần Đạo Đan Tôn">Thần Đạo Đan Tôn</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Tiên hiệp">Tiên hiệp</a>,
                                <a itemprop="genre" href="#" title="Huyền huyễn">Huyền huyễn</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-3">3</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#" title="Thế Giới Hoàn Mỹ">Thế Giới Hoàn Mỹ</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Tiên hiệp">Tiên hiệp</a>,
                                <a itemprop="genre" href="#" title="Kiếm hiệp">Kiếm hiệp</a>
                                <a itemprop="genre" href="#" title="Huyền huyễn">Huyền huyễn</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-4">4</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#" title="Rể Quý Trời Cho">Rể Quý Trời Cho</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Ngôn tình">Ngôn tình</a>,
                                <a itemprop="genre" href="#" title="Đô thị">Đô thị</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-5">5</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#" title="Đấu Phá Thương Khung">Đấu Phá Thương Khung</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Tiên hiệp">Tiên hiệp</a>,
                                <a itemprop="genre" href="#" title="Dị giới">Dị giới</a>
                                <a itemprop="genre" href="#" title="Huyền huyễn">Huyền huyễn</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-6">6</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#"
                                        title="Cô Vợ Ngọt Ngào Có Chút Bất Lương (Vợ Mới Bất Lương Có Chút Ngọt)">Cô
                                        Vợ Ngọt Ngào Có Chút Bất Lương (Vợ Mới Bất Lương Có Chút Ngọt)</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Ngôn tình">Ngôn tình</a>,
                                <a itemprop="genre" href="#" title="Trọng Sinh">Trọng Sinh</a>,
                                <a itemprop="genre" href="#" title="Sủng">Sủng</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-6">6</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#"
                                        title="Cô Vợ Ngọt Ngào Có Chút Bất Lương (Vợ Mới Bất Lương Có Chút Ngọt)">Cô
                                        Vợ Ngọt Ngào Có Chút Bất Lương (Vợ Mới Bất Lương Có Chút Ngọt)</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Ngôn tình">Ngôn tình</a>,
                                <a itemprop="genre" href="#" title="Trọng Sinh">Trọng Sinh</a>,
                                <a itemprop="genre" href="#" title="Sủng">Sủng</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-7">7</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#" title="Linh Vũ Thiên Hạ">Linh Vũ Thiên Hạ</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Tiên hiệp">Tiên hiệp</a>,
                                <a itemprop="genre" href="#" title="Dị giới">Dị giới</a>
                                <a itemprop="genre" href="#" title="Huyền huyễn">Huyền huyễn</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-8">8</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#" title="Cục Cưng Có Chiêu">Cục Cưng Có Chiêu</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Ngôn tình">Ngôn tình</a>,
                                <a itemprop="genre" href="#" title="Ngược">Ngược</a>,
                                <a itemprop="genre" href="#" title="Sủng">Sủng</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-9">9</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#" title="Nhất Niệm Vĩnh Hằng">Nhất Niệm Vĩnh Hằng</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Tiên hiệp">Tiên hiệp</a>,
                                <a itemprop="genre" href="#" title="Huyền huyễn">Huyền huyễn</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-10">10</div>
                            <div class="s-title">
                                <h3>
                                    <a href="#" title="Ngạo Thế Đan Thần">Ngạo Thế Đan Thần</a>
                                </h3>
                            </div>
                            <div>
                                <a itemprop="genre" href="#" title="Tiên hiệp">Tiên hiệp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>